<!DOCTYPE html>
<html>
  <head>
    <title>KiwiChat</title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui container">
      <%= render 'layouts/navigation' %>
      <% if flash.any? %>
        <% flash.each do |message| %>
          <%= message %>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
